@import url('./globals.css');

* {
  font-family: 'Geist', sans-serif;
}

h1 {
  font-weight: bold;
}

.active {
  color: hsl(47,100%,74%);
}

@font-face {
  font-family: 'Geist';
  src: url('./fonts/Geist-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('./fonts/Geist-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
